<!DOCTYPE html>
<html>
<head>
<style>
  h1 {text-align: center;}
  p {text-align: center;}
  img {display: block; margin-left: auto; margin-right: auto; width: 50%;}
</style>
</head>

<body>
  <h1>{{framework}} Firebase Server</h1>
  <p>Welcome {{name}} to {{framework}} Firebase Server</p>
  <p>This Server is powered up by {{stack}} {{framework}} framework connected to the Angular Website.</p>
  <p>The Database in use is stored at Google Firebase.</p>
  <img src="https://firebasestorage.googleapis.com/v0/b/image-processing-project-350bc.appspot.com/o/AngulerMeetsPython.jpg?alt=media&token=b17d0faa-19bc-4d98-9702-109d88b83aa4" class="center">
</body>
</html>
